.page-pendidikan {
    font-family: "Quicksand", sans-serif;

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-toggler:hover + .navbar-collapse {
        display: block;
    }

    .navbar-toggler:focus + .navbar-collapse {
        display: block;
    }

    .nav-item .dropdown-menu {
        display: none;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        animation: slideDown 0.3s ease;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-nav {
        justify-content: center;
        width: 100%;
    }

    .nav-item {
        margin: 0 15px;
        text-transform: uppercase;
    }

    .navbar-nav .nav-link {
        color: #ffffff !important;
    }

    .navbar-nav .nav-link:hover {
        color: #ffd700 !important;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        background-color: #622200;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .dropdown-item {
        padding: 10px 12px;
    }

    .dropdown-menu .dropdown-item {
        color: white;
        background-color: #622200;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #622200;
        color: #ffd700;
    }

    .nav-item.dropdown .dropdown-menu {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }

    .nav-item.dropdown {
        position: relative;
    }

    .header-banner {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .header-content {
        position: relative;
        z-index: 1;
    }

    .h1.header-title {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    }

    .h3.header-title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    }

    .header-buttons .btn {
        margin: 10px;
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .header-buttons .btn-primary {
        background-color: #ffd700;
        border: none;
        color: #622200;
    }

    .header-buttons .btn-primary:hover {
        background-color: white;
        color: #622200;
    }

    .header-buttons .btn-secondary {
        background-color: #622200;
        border: none;
    }

    .header-buttons .btn-secondary:hover {
        background-color: white;
        color: #622200;
    }

    .img-original {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stats-section {
        background-color: #fbc02d;
    }

    .stats-section h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .stats-section p {
        font-size: 1.25rem;
    }

    .card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }

    .card-title {
        font-size: 1.25rem;
        color: #622200;
        margin-bottom: 15px;
    }

    .card-text {
        font-size: 0.95rem;
        color: #555;
    }

    .card .btn {
        background-color: #622200;
        border-color: #622200;
        color: #fff;
        padding: 10px 20px;
        margin-top: 10px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .card .btn:hover {
        background-color: #ffd700;
        border-color: #ffd700;
    }

    #pendaftaran {
        padding: 50px 0;
        text-align: center;
    }

    #pendaftaran .btn {
        background-color: #622200;
        border-color: #622200;
        padding: 15px 30px;
        transition: background-color 0.3s ease;
    }

    #pendaftaran .btn:hover {
        background-color: #ffd700;
        border-color: #ffd700;
    }

    .text-center {
        text-align: center;
    }

    .my-5 {
        margin: 50px 0;
    }

    .mb-4 {
        margin-bottom: 1.5rem;
    }

    #profil,
    #pendaftaran {
        padding: 60px 0;
    }

    footer {
        background-color: #622200;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    /* Tablet & Mobile Styles */
    @media (max-width: 768px) {
        .navbar-nav {
            flex-direction: column; /* Stack navbar items vertically */
            text-align: center; /* Center align navbar items */
        }

        .header-title {
            font-size: 3rem;
        }

        .header-buttons .btn {
            font-size: 1rem;
            padding: 8px 15px;
        }

        .card-title {
            font-size: 1rem;
        }

        .card-body {
            padding: 15px;
        }

        .stats-section h1 {
            font-size: 2.5rem;
        }

        .stats-section p {
            font-size: 1rem;
        }

        .navbar-collapse {
            display: block;
        }

        .dropdown-menu {
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .img-original {
            max-width: 90%; /* Ensure images fit properly */
        }

        .text-center {
            padding: 0 15px;
        }
    }

    /* Mobile Styles */
    @media (max-width: 576px) {
        .header-title {
            font-size: 2.5rem;
        }

        .header-buttons .btn {
            font-size: 1rem;
            padding: 8px 15px;
        }

        .card-title {
            font-size: 1rem;
        }

        .navbar-toggler {
            padding: 5px 10px;
        }

        .card-body {
            padding: 12px;
        }

        .stats-section h1 {
            font-size: 2rem;
        }

        .stats-section p {
            font-size: 0.875rem;
        }
    }
}

/* Navbar background */
.navbar-collapse {
    transition: height 0.3s ease;
}

.navbar-collapse.show {
    display: block !important;
}

.navbar {
    background-color: #ffffff; /* Warna latar belakang navbar putih */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

/* Styling navbar items */
.navbar-nav {
    justify-content: center; /* Membuat item rata tengah */
    width: 100%; /* Memastikan navbar mencakup seluruh lebar */
}

.nav-item {
    margin: 0 15px; /* Jarak horizontal antar item */
    text-transform: uppercase; /* Huruf kapital pada teks */
}

.nav-link {
    white-space: nowrap; /* Mencegah teks membungkus */
}

/* Styling link di navbar */
.navbar-nav .nav-link {
    color: #622200 !important; /* Warna teks navbar */
}

.navbar-nav .nav-link:hover {
    color: #a36231 !important; /* Warna teks saat hover */
    transition: color 0.3s ease; /* Efek transisi warna */
}

/* Dropdown styling */
.nav-item .dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(20px); /* Tersembunyi di atas */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animasi transisi */
    border: none; /* Menghilangkan border */
    border-radius: 0; /* Tidak ada radius */
    padding: 0;
    margin: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Tampilkan menu */
    opacity: 1;
    transform: translateY(0); /* Posisi normal */
}

/* Background dan border dropdown */
.dropdown-menu {
    background-color: #ffffff; /* Latar belakang dropdown */
    border: none; /* Menghilangkan border */
    border-radius: 0; /* Tidak ada radius */
    padding: 0;
    margin: 0;
}

/* Dropdown item styling */
.dropdown-menu .dropdown-item {
    color: #622200; /* Warna teks default di dropdown */
    padding: 10px 12px; /* Padding item dropdown */
}

.dropdown-menu .dropdown-item:hover {
    background-color: white; /* Warna latar belakang saat hover */
    color: #a36231; /* Warna teks saat hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi */
}

/* Right side navbar (rata kanan) */
.navbar-nav.ms-auto {
    justify-content: flex-end; /* Posisi item ke kanan */
}

/* Left side navbar (rata tengah) */
.navbar-nav.mx-auto {
    display: flex;
    justify-content: center; /* Rata tengah */
    width: 100%;
}

/* Posisi dropdown agar muncul di atas */
.nav-item.dropdown {
    position: relative;
}

/* Efek transisi untuk hover */
.nav-item.dropdown .dropdown-menu {
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth dropdown */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Ensure responsive images */
}

#jadwalsholat .list-group-item {
    border: none;
    background-color: transparent;
}


#divisioncard .division-card {
    text-align: center;
    border: none;
    transition: transform 0.2s;
}

#divisioncard .division-card:hover {
    transform: scale(1.05);
}
.icon-circle {
    width: 70px;
    height: 70px;
    background-color: #343a40;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}
.icon-circle i {
    color: #fff;
    font-size: 30px;
}

/* Responsif Styling */
@media (max-width: 1024px) { /* Tablet */
    .container {
        padding: 15px;
    }

    .location-schedule {
        text-align: center;
        margin-bottom: 20px;
    }

    .schedule-morning, .schedule-evening {
        width: 100%;
    }

    .navbar-nav {
        gap: 15px;
    }
}

@media (max-width: 768px) { /* Mobile */

    .location-schedule {
        text-align: center;
        margin-bottom: 15px;
    }

    .schedule-morning, .schedule-evening {
        width: 100%;
        font-size: 14px;
    }

    .schedule-morning, .schedule-evening {
        margin: 10px 0;
    }

    .time p {
        font-size: 14px;
    }

    .navbar-nav {
        align-items: center;
        gap: 10px;
    }

    .nav-item {
        margin: 10px 0;
    }
}
